<template>
  <div>
    <vue-good-table ref="test"
      :columns="columns"
      :rows="rows"
      :search-options="{enabled: true  }"
      :selectOptions="{enabled: true}"
      :row-style-class="rowStyleClassFn"
       theme="black-rhino"
       />
       <!--       @on-selected-rows-change="selectionChanged"
      @on-row-click="onRowClick"-->
    <div slot="selected-row-actions">
        <b-button v-on:click="sendMap" variant="success">Map</b-button>
    </div>
  </div>
</template>

<script>
import { VueGoodTable } from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css'


export default {
  name: 'myVueGoodTable',
  components: {
    VueGoodTable
  },
  data(){
    return {
        searchTerm: '',
        columns: [
            {
            label: 'Name',
            field: 'name',
            //sortable: true,
            },
            {
            label: 'Age',
            field: 'age',
            type: 'number',
           /* filterOptions: {
                enabled: true, // enable filter for this column
                placeholder: 'Filter This Thing', // placeholder for filter input
                //filterValue: 'Jane', // initial populated value for this filter
                filterDropdownItems: [], // dropdown (with selected values) instead of text input
                //filterFn: this.columnFilterFn, //custom filter function that
                //trigger: 'enter', //only trigger on enter not on keyup 
                },*/
            },
            {
            label: 'Created On',
            field: 'createdAt',
            type: 'date',
            dateInputFormat: 'YYYY-MM-DD',
            dateOutputFormat: 'MMM Do YY',
            },
            {
            label: 'Percent',
            field: 'score',
            type: 'percentage',
            },
        ],
        rows: [
            { id:1, name:"John", age: 20, createdAt: '201-10-31:9: 35 am',score: 0.03343 },
            { id:2, name:"Jane", age: 24, createdAt: '2011-10-31', score: 0.13243 },
            { id:3, name:"Susan", age: 16, createdAt: '2011-10-30', score: 0.56573 },
            { id:4, name:"Chris", age: 55, createdAt: '2011-10-11', score: 0.01243 },
            { id:5, name:"Dan", age: 16, createdAt: '2011-10-21', score: 0.35243 },
            { id:6, name:"John", age: 20, createdAt: '2011-10-31', score: 0.04843 },
        ],
        };
    },
   methods: {
       //TODO Doesn't Work ????
        rowStyleClassFn(row) {
            return row.age > 18 ? 'green' : 'red';
        },
        onRowClick(params) {
      // params.row = row object 
    // params.pageIndex - index of this row on the current page.
    // params.selected - if selection is enabled this argument 
    // indicates selected or not
    // params.event - click event
        },

        sendMap() {
            console.log(this.$refs['test'].selectedRows);
            //console.log(this.rows.length);
        }
    }
};
</script>