<template>
  <div id="app">
    <div id="page" >
    <div class="row"> <!-- Ligne 1 -->
        <div class="col-xl-3 col-md-3"> 
          <VueGoodTable/>
        </div>
        <div class="col-xl-1 col-md-1">    
        </div>
        <div class="col-xl-8 col-md-8">

        </div>
    </div>
    </div>
    <!--<img src="./assets/logo.png">-->
    
  </div>
</template>

<script>
import VueGoodTable from './components/VueGoodTable'

export default {
  name: 'App',
  components: {
    VueGoodTable
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 10px;
}
</style>
